html {
  height: 100%;
  color: white;
}

body {
  height: 100%;
  margin: 0;
  font-family: Shapiro, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212127;
}

#root {
  height: 100%;
}

h1 {
  font-family: overwatch, koverwatch;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  line-height: 3rem;
}

h2 {
  font-family: overwatch, koverwatch;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  line-height: 2rem;
}

h3 {
  font-family: overwatch, koverwatch;
  font-size: 1.75rem;
  letter-spacing: 0.1rem;
  margin: 0.5rem 0;
  line-height: 1.75rem;
}

h4 {
  font-family: overwatch, koverwatch, sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  margin: 0.5rem 0;
  line-height: 1.25rem;
}

pre {
  font-family: Shapiro, sans-serif;
  font-size: 1rem;
}

/* Animations for pack opening */

@keyframes transparenting {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

@font-face {
  font-family: 'overwatch';
  src: url(./bignoodletoo.woff) format('woff');
}

@font-face {
  font-family: 'koverwatch';
  src: url(./koverwatch.ttf) format('truetype');
}

/* Animations for card opening */

.cube__face {
  position: absolute;
  width: 90%;
  height: 90%;
  border: 0 solid black;
  line-height: 200px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.show-right {
  transform: translateZ(-100px) rotateY(-90deg) !important;
}

.cube__face--front {
  transform: rotateY(0deg) translateZ(150px);
}

.cube__face--right {
  transform: rotateY(90deg) translateZ(150px);
}

.cube__face--back {
  transform: rotateY(180deg) translateZ(150px);
}

.cube__face--left {
  transform: rotateY(-90deg) translateZ(150px);
}

.cube__face--top {
  transform: rotateX(90deg) translateZ(150px);
}

.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(150px);
}

/* Animations for card */

:root {
  --primary: #ffec00;
  --secondary: #fe4880;
  --dark: #212121;
  --light: #f3f3f3;
}

.card_changer {
  animation-duration: 1s;
  animation-name: transparenting;
  animation-direction: alternate;
  animation-iteration-count: 2;
}

@keyframes transparenting {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}

.is-flipped {
  transform: rotateY(180deg);
}

.card__content {
  width: 100%;
  height: 100%;
}

.card__header {
  position: relative;
  padding: 10px 10px 10px;
}

.card__header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 0 0 50% 0;
  background-image: linear-gradient(
    to bottom left,
    var(--primary) 10%,
    var(--secondary) 115%
  );
}

.pp {
  display: block;
  width: 100%;
  height: 100px;
  margin: 0 auto 10px;
  background-color: #fff;
  border-radius: 10%;
  object-fit: cover;
}

.card__header h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.card__body {
  padding: 30px;
}

.card__body h3 {
  color: var(--dark);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.card__body p {
  color: var(--dark);
  font-size: 18px;
  line-height: 1.4;
}
