html {
  height: 100%;
  color: white;
}

body {
  height: 100%;
  margin: 0;
  font-family: Shapiro, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

h1 {
  font-family: overwatch, koverwatch;
  font-size: 3rem;
  letter-spacing: 0.1rem;
}

h2 {
  font-family: overwatch, koverwatch;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

h3 {
  font-family: overwatch, koverwatch;
  font-size: 1.75rem;
  letter-spacing: 0.1rem;
}

h4 {
  font-family: overwatch, koverwatch, sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
}

pre {
  font-family: Shapiro, sans-serif;
  font-size: 1rem;
}

/* Animations for pack opening */

@keyframes transparenting {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

@font-face {
  font-family: 'overwatch';
  src: url(./bignoodletoo.woff) format('woff');
}

@font-face {
  font-family: 'koverwatch';
  src: url(./koverwatch.ttf) format('truetype');
}

/* Animations for card opening */

.cube__face {
  position: absolute;
  width: 90%;
  height: 90%;
  border: 0 solid black;
  line-height: 200px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.show-right {
  transform: translateZ(-100px) rotateY(-90deg) !important;
}

.cube__face--front {
  transform: rotateY(0deg) translateZ(150px);
}

.cube__face--right {
  transform: rotateY(90deg) translateZ(150px);
}

.cube__face--back {
  transform: rotateY(180deg) translateZ(150px);
}

.cube__face--left {
  transform: rotateY(-90deg) translateZ(150px);
}

.cube__face--top {
  transform: rotateX(90deg) translateZ(150px);
}

.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(150px);
}
